---
import {Image} from "astro:assets";
import {SITE_TITLE} from "../config";
import SideBar from "../components/SideBar.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---
<div class="flex items-center justify-center">
    <h1 class="prose text-5xl font-bold my-4 text-center text-opacity-50">
        Bythonsoft
    </h1>
</div>
<div class="min-h-screen flex items-center justify-center">
    <div class="text-center">

        <h1 class="text-3xl font-bold mb-4">Work in Progress</h1>
        <p class="text-xl mb-8">We're currently building something amazing. Please check back soon!</p>
        <div class="w-[8.5rem] mx-auto">
            <Image class="mask mask-circle" format="webp" width={300} height={300}
                   src="/IMG_20230508-WA0001ww.webp"
                   alt="Bythonsoft Logo Image"/>
            <a class="btn btn-accent mt-9" href="/">Home</a>
        </div>
    </div>
</div>



