---
import BaseLayout from "../layouts/BaseLayout.astro";
---


<BaseLayout title="Contacts" includeSidebar={true} sideBarActiveItemID="contacts">
    <div class="text-center mt-10 md:mt-20 lg:mt-32 w-full px-5 max-w-full overflow-hidden">
        <p class="text-xl md:text-2xl lg:text-3xl">Click on the Email to contact:</p>
        <a href="mailto:alessandro.incantalupo@gmail.com"
           class="text-blue-500 text-lg sm:text-xl md:text-2xl lg:text-4xl mt-2"
           referrerpolicy="no-referrer-when-downgrade">alessandro.incantalupo@gmail.com</a>
    </div>
</BaseLayout>
