---
import LinkedinIcon from "./SidebarFooter/LinkedinIcon.astro";
import GitHubIcon from "./SidebarFooter/GitHubIcon.astro";
import InstagramIcon from "./SidebarFooter/InstagramIcon.astro";
import BythonoftIcon from "./SidebarFooter/BythonoftIcon.astro";
import RSSIcon from "./SidebarFooter/RSSIcon.astro";
---
<!--<div-->
<!--        class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"-->
<!--&gt;-->
<!--</div>-->

<div class="social-icons px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200">

    <LinkedinIcon></LinkedinIcon>
    <GitHubIcon></GitHubIcon>
    <BythonoftIcon></BythonoftIcon>
    <InstagramIcon></InstagramIcon>
    <!--<RSSIcon></RSSIcon>-->

</div>
